@import 'node_modules/coffeekraken-sugar/index';
@import 'node_modules/coffeekraken-s-button-component/index';

@include s-setup(());
@include s-init();
@include s-classes();

@include s-button-classes();

body {
  padding: s-space(bigger);
}

.cursor {
  &.sticked {
    &.underline {
      .cursor__sticked {
        border-width: 0;
        border-bottom-width: 2px;
      }
    }
  }

  .cursor__pointer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: s-color(primary);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0s,
      height 0.3s cubic-bezier(1, 0, 0, 1) 0s,
      opacity 0.3s cubic-bezier(1, 0, 0, 1) 0s;
  }
  .cursor__sticked {
    width: 30px;
    height: 30px;
    border: 1px solid s-color(primary, -opacity 0.3);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s,
      border 0.3s cubic-bezier(1, 0, 0, 1) 0s;
  }
  &.sticked .cursor__sticked {
    border: 2px solid s-color(primary);
  }
}

.menu {
}
.menu__item {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.menu--text {
  .menu__item {
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 s-rem(15px);
  }
}
